<h1>signup!</h1>
<form role="form" method="post" action="/register" >
  <div class="form-group">
    <label for="nickname">nickname</label>
    <input type="text" class="form-control" id="nickname" name="nickname"  placeholder="Enter nickname">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="username" name="username" placeholder="Enter email">
  </div>
 
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>
