<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Hello, member of the {{clubname}} !</h1>
  <p>Glad to have you with us as a member of the awesome {{clubname}}.<br>
  Please sign in to edit your personal details, or sign up as a new member!</p>

  <form class="form-inline spacer" role="form"  method="post" action="/login">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Email address</label>
      <input type="email" class="form-control" name="username" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword2">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
  </form>

  <p class="spacer">Not a member yet?</p>
  <p><a href="#/logon" class="btn btn-success" role="button">Sign up! &raquo;</a></p>
</div>
